@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
*{margin: 0; padding: 0;}
::selection{
    
}

body, html{
    scroll-behavior: smooth;
    background: #f5f5f5;
}

a{
    color: #fff;
}
a:hover{
    transition: 0.5s;
}
ul{
    list-style-type: disc;
}
#menu-top::after{
    content: "HOT";
    width: 2em;
    height: 1em;
    font-size: 11px;
    color: #fff;
    position: absolute;
    top: 3.65vh;
    left: 35.9em;
    margin-top: -1em;
}
#menu-top::before{
    content: "";
    width: 2em;
    height: 1em;
    font-size: 16px;
    position: absolute;
    background: #ed143d;
    border-radius: 10px;
    top: 4.5vh;
    left: 28.5vw;
    margin-top: -1em;
}
.nav-menu{
    margin: 0 auto;
    background-color: #fff;

}
.navbar-brand.logo{
    width: 15vw;
}
.header-left{
    cursor: pointer;
}


/*end header*/

/*Content*/
.banner{
    padding: 15px 0;
}
.banner img{
    width: 100%;
}
.title-jd{
    font-size: 25px;

}
.title-offer{
    line-height: 1.5;
}
.branch-company{
    display: flex;
    background: #fff;
    /* padding: 30px; */
    border-radius: 10px;
    justify-content: space-between;
}

.detail-jd{
    background: #fff;
}

.title-logo-company{
    width: 30vw;
    border: 1px solid #6666;
    border-radius: 10px;
    margin: 10px 0 38px 0;
    padding: 20px;
}
.title-logo-company a{
    width: 100%;
}
.title-logo-company a img{
    width: 100%;
}

.btn-jd{
    display: flex;
    flex-direction: column;
    margin: 0 0;
    cursor: pointer;
}
#btn-save{
    border-radius: 12px;
}
#btn-apply{
    border-radius: 12px;
}

.logo-client{
    width: 100%;
}
.logo-client a{
    width: 100%;
}
.logo-client a img{
    width: 100%;
}

/*ads*/
.ads{
    width: 100%;
}
.ads a{
    width: 100%;
}
.ads a img{
    width: 100%;
    border-radius: 10px;
}

.infor-jd{
    background: #fff;
}
.jd-relarive{
    background: #fff;
}
/*End content*/


/* footer */
.logo-footer {
    width: 100%;
}
.logo-footer img{
    width: 20%;
}

footer{
    background: #242a30;
    color: white;
}
.img-bct{
    padding: 0;
}
a.btn-floating.btn-sm.rgba-white-slight.mx-1 i {
    font-size: 34px;
}

.btn.btn-group.img-bct div img {
    width: 7em;
}


/* responsive */

@media screen and ( max-width: 768px) {
    .navbar-brand.logo{
        width: 45vw;
    }
    .title-logo-company{
        margin:  20px auto;
    }
    .branch-company{
        display: flex;
        flex-direction: column;
    }
    .col-2.title-logo-company{
        
    }
    .title-apply-jd{

    }
    .nav-menu{}
    .banner{}
    #menu-top::before{}
    #menu-top::after{}
    .logo-company{}
    .infor-jd{
    margin: 0 auto;
}
    .btn-jd{}
    
}

@media screen and (max-width: 375px){
    .navbar-brand.logo{
        width: 45vw;
    }
}