*{margin: 0; padding: 0;}

body, html{
    scroll-behavior: smooth;
    background: #f5f5f5;
    overflow-x: hidden;
}

a{
    color: #fff;
}
a:hover{
    transition: 0.5s;
}
ul{
    list-style-type: disc;
}


/* header */
.nav-menu{
    margin: 0 auto;
    background-color: #fff;

}
.navbar-brand.logo{
    width: 15vw;
}
.navbar-brand.logo img {
    width: 80%;
}
.header-left{
    cursor: pointer;
}

.bg-hot{
    width: 35px;
    height: 18px;
    position: absolute;
    top: 10px;
    left: 28.5vw;
    background: rgb(216, 27, 27);
    border-radius: 15px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    font-size: 11px;
}

/*end header*/

/*Content*/
.banner{
    padding: 15px 0;
}
.banner img{
    width: 100%;
}
.title-jd{
    font-size: 25px;

}
.title-offer{
    line-height: 1.5;
}
.branch-company{
    display: flex;
    background: #fff;
    /* padding: 30px; */
    border-radius: 10px;
    justify-content: space-between;
}

.detail-jd{
    background: #fff;
}

.title-logo-company{
    width: 30vw;
    border: 1px solid #6666;
    border-radius: 10px;
    margin: auto 10px;
    padding: 20px;
}
.title-logo-company a{
    width: 100%;
}
.title-logo-company a img{
    width: 100%;
}

.btn-jd{
    display: flex;
    flex-direction: column;
    margin: 0 0;
    cursor: pointer;
}
#btn-save{
    border-radius: 12px;
}
#btn-apply{
    border-radius: 12px;
}

.logo-client{
    width: 100%;
}
.logo-client a{
    width: 100%;
}
.logo-client a img{
    width: 100%;
}
.title-apply-jd{
    margin: auto 0;
}

/*ads*/
.ads{
    width: 100%;
}
.ads a{
    width: 100%;
}
.ads a img{
    width: 100%;
    border-radius: 10px;
}

.infor-jd{
    background: #fff;
}
.jd-relarive{
    background: #fff;
}
.policy-footer {
    font-size: 13px;
    line-height: 1.5;
}

/*End content*/


/* footer */
.logo-footer {
    width: 100%;
}
.logo-footer img{
    width: 20%;
}

footer{
    background: #242a30;
    color: white;
}
.img-bct{
    padding: 0;
}
a.btn-floating.btn-sm.rgba-white-slight.mx-1 i {
    font-size: 34px;
}

.btn.btn-group.img-bct div img {
    width: 7em;
}


/* responsive */

@media screen and ( max-width: 768px) {
    .navbar-brand.logo{
        width: 30vw;
        margin: 0 20px;
    }
    .navbar-nav {
        margin: 0 0 0 30px; 
    }
    .navbar-toggler.collapsed{
        margin: 0 20px 0 0;
    }
    .title-logo-company{
        margin:  20px auto;
    }
    .branch-company{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .infor-jd{
        margin: 0 auto;
    }
    .btn-jd{
        width: 10em;
        margin: 10px auto;

    }
    
    /* footer  */
    .logo-footer img{
        width: 50%;
    }
    .logo-footer-bottom{
        font-size: 13px;
    }
    .policy-footer{
        font-size: 13px;
        text-align: center;
        line-height: 1.5;
    }
    
}
@media screen and (min-width: 375px) and (max-width: 425px){
    .navbar-brand.logo{
        margin: 0;
    }
    .navbar-brand.logo{
        width: 40vw;
    }
    .navbar-toggler.collapsed{
        /* margin: 0 20px 0 0; */
    }
    .navbar-nav {
        margin: 0 10px;
    }
    .general-jd {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .col-4.infor-right{
        max-width: 100%;
        margin: 0;
    }
    .col-8.jd-relative-general{
        max-width: 100%;
    }
    .col-4.infor-right{
        padding: 0;
    }
    .col-8.title-offer.infor-jd{
        max-width: 100%;
    }
    /* .bg-hot{
        
    } */
}
@media screen and (max-width: 375px){

    .logo-footer-bottom {
        font-size: 12px;
        
    }   
}